.signup_section {
  display: flex;
  justify-content: center;
}
#logo_span {
  font-size: 35px;
  cursor: pointer;
}
.signup_div {
  border: 1px solid lightgray;
  padding: 30px 90px;
}
.logo_nav {
  display: flex;
  justify-content: center;
}
.content {
  width: 400px;
  height: auto;
}
.logo_nav {
  margin-top: 200px;
}
.logo {
  margin-bottom: 20px;
}
.chk_li {
  list-style: none;
  height: 40px;
}
label {
  font-size: 16px;
}
#explain {
  color: gray;
}
.start_title {
  display: flex;
  justify-content: center;
}
.explain_li {
  color: gray;
  font-size: 13px;
  list-style: none;
}
.explain_ul {
  padding: 0;
}
#errormsg {
  font-size: 15px;
}
#email {
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
}
#nickname {
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
  width: 100%;
  font-size: 20px;
  height: 35px;
}
#title_p {
  font-size: 23px;
}
#auth_btn {
  /* position: absolute;
      right: 149px;
      top: 378px; */
  border-radius: 10px;
  border: 1px solid gray;
  background-color: white;
  cursor: pointer;
  width: 90px;
  height: 30px;
}
#year-select {
  border: none;
}
#month-select {
  border: none;
}
#day-select {
  border: none;
}
.option_div {
  margin-top: 30px;
  border-bottom: 1px solid gray;
}
select {
  font-size: 18px;
  width: 50px;
}
#gender_label {
  margin-right: 50px;
}
#next {
  width: 100%;
  height: 40px;
  border: none;
}
#gender_p {
  color: gray;
  font-size: 13px;
}
#nickname_p {
  color: gray;
  font-size: 13px;
}
#date_p {
  color: gray;
  font-size: 13px;
}
.gender_div {
  margin-bottom: 40px;
}
input[type="radio"] {
  width: 20px;
}
.email_btn {
  background-color: #fee500;
  border: none;
  width: 100%;
  height: 60px;
  font-size: 18px;
}
.new_email {
  background-color: #dddddd;
  border: none;
  width: 100%;
  color: gray;
  height: 60px;
  font-size: 18px;
}
.btn {
  margin: 20px 0px;
}
#start_signup {
  font-size: 25px;
}
button {
  cursor: pointer;
}
