<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script defer th:src="@{/js/common.js}"></script>
    <script th:inline="javascript">
        const m=[[${msg}]]
        window.onload=()=>{
            msgPrint()
        }
    </script>
</head>
<body>
<div class="wrap">
    <th:block th:replace="~{fragments::header}"></th:block>
    <section>
        <form action="/member/join" method="post" class="login-form" name="joinFrm"
             onsubmit="return check()">
            <input name="m_id" type="text" class="login-input" id="m_id"
                   title="아이디" autofocus placeholder="아이디">
            <span id="checkMsg">  </span>
            <input type="button" id="checkId" class="idcheck-btn" value="중복확인">
            <input name="m_pw" type="password" class="login-input"
                   title="비밀번호" placeholder="비밀번호">
            <input name="m_name" type="text"
                   class="login-input" title="이름" placeholder="이름">
            <input name="m_birth" type="text" class="login-input" title="생일"
                   placeholder="생일">
            <input name="m_addr" type="text" class="login-input"
                   title="주소" placeholder="주소">
            <input type="submit" class="login-btn" value="가입">
        </form>
    </section>
    <th:block th:replace="~{fragments::footer}"></th:block>
</div>
<script>
    let isCheck=false;
    $('#checkId').click(function() {
        let id = $('#m_id').val();
        if(id == '') {
            $('#checkMsg').html('아이디 입력바람').css('color','red');
            $('#m_id').focus();
            return;
        } else {
            let sendId = {m_id: id}
            $.ajax({
                method: 'get',
                url:'/member/idcheck',
                // 쿼리스트링 방법
                // url: '/member/idcheck?m_id='+id,

                data: {m_id: id}, // sendId
                // dataType : 'json' < 서버로부터 돌려받을 데이터(생략가능) 서버가 판단해줌
            }).done(function(resp, status, xhr) {
                console.log('resp:',resp);
                console.log('status:',status);
                console.log('xhr:',xhr);
                // String으로 반환할 때(MemberRestController)
                // $('#checkMsg').html(resp).css('color','green')

                // Boolean으로 반환할 때
                if(resp == true){
                    $('#checkMsg').html('사용가능한 아이디').css('color','green');
                    isCheck = true;
                } else {
                    $('#checkMsg').html('사용불가한 아이디').css('color','red')
                }
                isCheck = true;
            }).fail((err, status) => {
                console.log('err:',err)
                console.log('status:',status)
                // $('#checkMsg').html(err.responseText).css('color','red')
                isCheck = false;
            })
        }
    })

    //jquery validation활용해서 유효성 체크해보세요
    function check(){
        const joinFrm=document.joinFrm;
        console.log(joinFrm);
        const len =joinFrm.length-1;
        for(let i=0;i<len;i++){
            if(joinFrm[i].value===''||joinFrm[i].value===null){
                alert(joinFrm[i].title+" 입력해줘!!!");
                joinFrm[i].focus();
                return false;
            }
        }
        return true;   //일반버튼시 joinFrm.submit();
    }

</script>

</body>
</html>