<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>t_output.html</h1>

<div th:text="${'innerText : ' + htmlStr}">innerText : </div>
<div th:text="'innerText : ' + ${htmlStr}">innerText : </div>
<div th:text="|innerText : ${htmlStr}|">innerText : </div>
<div>innerText : [[${htmlStr}]]</div>

<hr>

<div th:utext="${'innerHtml' + htmlStr}">innerText : </div>
<div>innerText : [(${htmlStr})]</div>

<hr>

<h2>Map 데이터 출력</h2>
<p th:text="${map.name}"></p>
<p th:text="${map.get('age')}"></p>
<p th:text="${map.address}"></p>

<hr>

<h2>Dto 데이터 출력</h2>
<p th:text="${dtoData.getName()}"></p>
<p th:text="${dtoData.getAge()}"></p>
<p th:text="${dtoData.getAddress()}"></p>

<h2>Dto 데이터 출력</h2>
<th:block th:object="${dtoData}">
    <p th:text="*{name}"></p>
    <p th:text="*{age}"></p>
    <p th:text="*{address}"></p>
</th:block>

<a th:href="@{/t_control}">thymeleaf제어문</a>

<script th:inline="javascript">
    const msg = [[${msg}]]
    if (msg != null) {
        alert(msg)
    }
</script>
</body>
</html>