<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- method = "post" -> DB에서 작업할래~ -->
    <form action="#" th:action="@{/user}" method="post" th:object="${user}">
<!--        <input type="text" th:value="*{name}" th:id="*{name}" th:name="*{name}">-->
        <label for="name">NAME : </label>
        <input type="text" id="name" th:field="*{name}">
        <label for="age">AGE : </label>
        <input type="text" id="age" th:field="*{age}">
        <label for="address">ADDRESS : </label>
        <input type="text" id="address" th:field="*{address}">
        <button>submit</button>

    </form>
</body>
</html>